<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>RTSP Camera Stream</title>
</head>
<body>
    <script src="{{ url_for('static', filename='lanaccess-wsm-player.js') }}"></script>
    <video id="test-video" width="" height="" autoplay controls></video>

    <!-- Modal -->
    <div id="cameraModal" style="display: none; position: fixed; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.8);">
        <div style="margin: 0% auto; padding: 0px; width: 80%; max-width: 600px; background-color: white; position: relative;">
            <span style="position: absolute; top: 0px; right: 0px; cursor: pointer;" onclick="closeModal()">×</span>
            <video id="modal-video" width="300" autoplay controls></video>
        </div>
    </div>

    <script>
        var playButton = document.getElementById('play-button');
        var stopButton = document.getElementById('stop-button');

        var unauthorizedAttempts = 0;
        var stream = new lanaccessWsmPlayer.WsmPlayer('test-video', {
            logLevel: lanaccessWsmPlayer.LogLevel.Verbose,
            host: 'camaras.valencia.es',
            port: 8903,
            sslPort: 8904,
            openCallback: function() {
                console.log('stream opened');
                stopButton.disabled = false;
            },
            closeCallback: function() {
                console.log('stream closed');
                playButton.disabled = false;
                stopButton.disabled = true;
                unauthorizedAttempts = 0;
            },
            errorCallback: function(error) {
                console.log('stream error');
                console.log(error);
                unauthorizedAttempts = 0;
            },
            authCallback: function() {
                ++unauthorizedAttempts;
                if (unauthorizedAttempts < 3) {
                    return { username: 'hello', password: 'passwd' };
                } else {
                    return null;
                }
            }
        });

        var camara = location.search.substr(1).split('=')[1];
        var streamUrl = 'rtsp://camaras.valencia.es/stream/' + camara + '/1';
        stream.open(streamUrl);

        playButton.addEventListener('click', function(event) {
            if (stream) {
                playButton.disabled = false;
                stopButton.disabled = false;
                stream.open(streamUrl);
            }
        });

        stopButton.addEventListener('click', function(event) {
            if (stream) {
                playButton.disabled = true;
                stopButton.disabled = true;
                stream.close();
            }
        });

        // Modal functions
        function openModal(cameraId) {
            var modal = document.getElementById("cameraModal");
            var video = document.getElementById("modal-video");
            var streamUrl = 'rtsp://camaras.valencia.es/stream/' + cameraId + '/1';
            video.src = streamUrl; // Set the video source to the stream URL
            modal.style.display = "block"; // Show the modal
        }

        function closeModal() {
            var modal = document.getElementById("cameraModal");
            var video = document.getElementById("modal-video");
            video.src = ""; // Stop the video stream
            modal.style.display = "none"; // Hide the modal
        }
    </script>
</body>
</html>
